/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section{
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    width: 100%;
    gap: 50px;
    padding-left: 9%;
}

article{
    width:  20%;
    height: 31% ;
    border: 2px solid black;
    margin-top: 2%;
}

div{
    padding: 5px 2px;
    width: 150px;
    height: 150px;
}

div img{
    height: 120px;
    width:  100px;
}

#title{
    margin-top: 50px;
    padding: 5px;
    height: 15px;
    border: 2px solid black;
}

#price{
    margin-top: 50px;
    height: 15px;
    border: 2px solid black;
}

#rating{
    height: 15px;
    border: 2px solid black;
} */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

article {
    width: 380px; 
    border: 1px solid #e7e6e6;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #f3f1f1f8;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

article:hover {
    transform: scale(1.03);
    box-shadow: 0 4px 8px rgba(19, 19, 19, 0.2);
}

article img {
    width: 98%;
    height: 350px; 
}

article div {
    padding: 15px;
}

article div p {
    /* border-radius: 20px; */
    padding: 2px;
    margin: 0;
    color: #333;
}

article div p:first-child {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 10px;
    
}

article div p:nth-child(2) {
    color: #d6493a; 
    font-size: 14px;
    margin-bottom: 10px;
}

article div p:nth-child(3) {
    font-size: 12px;
    color: #5265d1; 
}

@media (max-width: 768px) {
    section {
        justify-content: center;
    }

    article {
        width: 100%;
        max-width: 320px;
    }
}